<div class="header-container">
    <div class="left-section">
        <div class="logo-container">
            <img class="logo" src="https://image.tmdb.org/t/p/original/wwemzKWzjKYJFfCeiB57q3r4Bcm.svg" alt="NETFLIX">
        </div>

        <div class="nav-sections">
            <span class="navlink">Home</span>
            <span class="navlink">TV Shows</span>
            <span class="navlink">Movies</span>
            <span class="navlink">Latest</span>
            <span class="navlink">My list</span>
            <span class="navlink">Watch Again</span>
        </div>
    </div>
    <div class="right-section">
        <div class="search">

        </div>
        <div class="bell">

        </div>
        <div class="user-logo">

        </div>
    </div>
</div>

<figure class="player-section">
    <!-- <iframe class="video-player" src="https://www.youtube.com/embed/s7EdQ4FqbhY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <video autoplay controls class="video-player" src="https://movietrailers.apple.com/movies/mgm/no-time-to-die/no-time-to-die-final-trailer_h480p.mov" #vidRef>
        <button>play</button>
    </video>
    <div class="on-video-btn-container">
        <div class="left-wrap">
            <button *ngIf="!playing" (click)="playPauseMethod()" class="play-pause-btn square-btn" id="playpause" type="button" #playPause>Play</button>
            <button *ngIf="playing" (click)="playPauseMethod()" class="play-pause-btn square-btn" id="playpause" type="button" #playPause>Pause</button>
            <button class="more-info-btn square-btn">More Info</button>
        </div>
        <div class="right-wrap">
            <button class="volume-button round-icon-btn">
                <i class="fas fa-volume-up"></i>
            </button>
        </div>
    </div>
</figure>