<div class="header-container">
    <div class="left-section">
        <div class="logo-container">
            <img class="logo" src="https://image.tmdb.org/t/p/original/wwemzKWzjKYJFfCeiB57q3r4Bcm.svg" alt="NETFLIX">
        </div>

        <div class="nav-sections">
            <span class="navlink">Home</span>
            <span class="navlink">TV Shows</span>
            <span class="navlink">Movies</span>
            <span class="navlink">Latest</span>
            <span class="navlink">My list</span>
            <span class="navlink">Watch Again</span>
        </div>
    </div>
    <div class="right-section">
        <div class="search">

        </div>
        <div class="bell">

        </div>
        <div class="user-logo">

        </div>
    </div>
</div>

<figure class="player-section">
    <video autoplay controls class="video-player"
        src="https://movietrailers.apple.com/movies/mgm/no-time-to-die/no-time-to-die-final-trailer_h480p.mov" #vidRef>
        <button>play</button>
    </video>
    <div class="shadow"></div>
    <div class="on-video-btn-container">
        <div class="left-wrap">
            <button *ngIf="!playing" (click)="playPauseMethod()" class="play-pause-btn square-btn" id="playpause"
                type="button" #playPause>
                <i class="fas fa-play"></i>Play</button>

            <!-- Check why there are local references -->

            <button *ngIf="playing" (click)="playPauseMethod()" class="play-pause-btn square-btn" id="playpause"
                type="button" #playPause>
                <i class="fas fa-pause"></i>Pause</button>
            <button class="more-info-btn square-btn"><i class="fas fa-info"></i>More Info</button>
        </div>
        <div class="right-wrap">
            <button *ngIf="muted" (click)="muteUnmuteMethod()" class="volume-button round-icon-btn">
                <i class="fas fa-volume-up"></i>
            </button>
            <button *ngIf="!muted" (click)="muteUnmuteMethod()" class="volume-button round-icon-btn">
                <i class="fas fa-volume-mute"></i>
            </button>
        </div>
    </div>
</figure>