<div class="backdrop">
    <div class="container">
        <div class="simple-info-box">
            <div style="background-image: url(https://image.tmdb.org/t/p/w500/{{movieDetails.poster_path}})"
                class="image-content full-image">

                <button (click)="close()" class="close-btn round-btn"><i class="fas fa-times icon"></i></button>

                <div class="btn-panel">
                    <div class="left-wrapper">

                        <div class="play-btn">
                            <i class="fas fa-play"></i>
                            <span>Play</span>
                        </div>

                        <div class="add-to-list-btn round-btn video-btn">
                            <i class="fas fa-plus video-icon"></i>
                        </div>

                        <div class="like-btn round-btn video-btn">
                            <i class="fas fa-thumbs-up video-icon"></i>
                        </div>

                        <div class="dislike-btn round-btn video-btn">
                            <i class="fas fa-thumbs-down video-icon"></i>
                        </div>
                    </div>
                    <div class="round-btn">
                        <i class="fas fa-volume-up"></i>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="details-container">
                <div class="left-details-container">
                    <div class="meta-data-container">
                        <span class="match meta-data">95% MATCH</span>
                        <span *ngIf="movieDetails.adult" class="detail-text adult meta-data">18+</span>
                        <span class="detail-text meta-data">{{movieDetails.release_date |date}}</span>
                        <span class="detail-text hd meta-data ">HD</span>
                    </div>
                    <div class="description">
                        <span class="description-text">{{movieDetails.overview}}</span>
                    </div>
                </div>
                <div class="right-details-container">
                        <span class="detail-marker">Original Language - <span class="detail-text">{{movieDetails.original_language}}</span></span>

                        <span class="detail-marker">Score - <span class="detail-text">{{movieDetails.vote_average}}</span></span>
                        <span class="detail-marker">Release Date - <span class="detail-text">{{movieDetails.release_date}}</span></span>
                        <span class="detail-marker">Original Title - <span class="detail-text">{{movieDetails.original_title}}</span></span>
                </div>
            </div>
        </div>
    </div>
</div>