<div (click)="close()" class="backdrop">
    <div class="container">
        <div class="simple-info-box">
            <div style="background-image: url(https://image.tmdb.org/t/p/w500/{{movieDetails.poster_path}})"
            class="image-content full-image">

                <button (click)="close()" class="close-btn round-btn"><i class="fas fa-times icon"></i></button>

                <div class="btn-panel">
                    <div class="left-wrapper">

                        <div class="play-btn">
                            <i class="fas fa-play icon"></i>
                            <span>Play</span>
                        </div>
                        
                        <div class="add-to-list-btn round-btn video-btn">
                            <i class="fas fa-plus video-icon"></i>
                        </div>

                        <div class="like-btn round-btn video-btn">
                            <i class="fas fa-thumbs-up video-icon"></i>
                        </div>

                        <div class="dislike-btn round-btn video-btn">
                            <i class="fas fa-thumbs-down video-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <img  alt=""> -->
        </div>
        <span class="text">{{movieDetails.original_title}}</span>
        <span class="text">{{movieDetails.release_date}}</span>
        <span class="text">{{movieDetails.id}}</span>
        <span class="text">{{movieDetails.id}}</span>
        <span class="text">{{movieDetails.id}}</span>
        <span class="text">{{movieDetails.id}}</span>
        <span class="text">{{movieDetails.id}}</span>
        <span class="text">{{movieDetails.id}}</span>
        <span class="text">{{movieDetails.id}}</span>
        <span class="text">{{movieDetails.id}}</span>
        <span class="text">{{movieDetails.id}}</span>
        <span class="text">{{movieDetails.id}}</span>
        <span class="text">{{movieDetails.id}}</span>
        <span class="text">{{movieDetails.id}}</span>
        <span class="text">{{movieDetails.id}}</span>
        <span class="text">{{movieDetails.id}}</span>
        <span class="text">{{movieDetails.id}}</span>
        <span class="text">{{movieDetails.id}}</span>
        <span class="text">{{movieDetails.id}}</span>
        <span class="text">some data</span>

    </div>
</div>