<div class="main-display">

    <div counterDirective class="carousel-wrapper">

        <div (click)="scrollFunction('left')" 
        fad
        class="scroll-btn scrl-left disable" #left
        id="left-scroll">
            <i id="left-scroll-arrow" class="fas fa-angle-left scrl-arrow"></i>
        </div>

        <div class="carousel-box" #el>
            <app-movie #posterElement class="genre-section" [movieData]="sliderObjects">
            </app-movie>
        </div>

        <div id="right-scroll" 
        (click)="scrollFunction('right')" class="scroll-btn scrl-right">
            <i id="right-scroll-arrow" class="fas fa-angle-right scrl-arrow"></i>
        </div>

    </div>
</div>